.upload-button {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 100;
}

.upload-button::before {
  position: absolute;
  top: 50%;
  left: 50%;
}

.itsComplicatedBTNdiv {
  height: 50em;
  width: 50em;
  margin-left: 10%;
}

.itsComplicatedBTN {
  z-index: 10000;
  margin-top: 10%;
  margin-left: 4%;
  height: 5%;
  background-color: aquamarine;
}
#list {
  width: 50%;
  z-index: 1000;
  font-size: medium;
  align-content: center;
  display: inline-block;
  height: 50%;
}

.listItems {
  color: aliceblue;
}

#someDiv{
  text-align: right;
}

#list{
  margin-bottom: 40%;
}

.my-notes {
  z-index: 10000;
}

.overlaybr-icon-info {
  position: fixed;
  bottom: 30px;
  left: 30px;
  z-index: 100;
  display: none;
}

.overlaybr-icon-info::before {
  position: absolute;
  top: 50%;
  right: 50%;
}
