body {
  color: #e7dfdd;
  background-color: #0e0b16;
  font-family: "Roboto", sans-serif;
}

.info-txt-customer-segmentation-div {
  width: 45%;
  text-align: left;
}

.profile-btn-div {
  text-align: right;
  margin-top: 1%;
  margin-right: 2%;
}

.dialogFormButtons {
  all: unset;
  cursor: pointer;
}

.overlaybr-icon {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 100;
  display: none;
}

.overlaybr-icon::before {
  position: absolute;
  top: 50%;
  left: 50%;
}
