body {
    color: #e7dfdd;
    background-color: #0e0b16;
    font-family: "Roboto", sans-serif;
  }

  .info-txt-customer-segmentation-div{
      width: 45%;
      text-align: left;
  }

  .profile-btn-div{
      text-align: right;
      margin-top: 1%;
      margin-right: 2%;
  }