.splash-page {
  box-sizing: border-box;
  margin: 0;
  padding: 0%;
  font-family: "Roboto", sans-serif;
}

#video {
  position: relative;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.attention-grabbing-title-div {
  font-size: 3.7vw;
  position: absolute;
  color: #e7dfdd;
  text-align: left;
  z-index: 1;
  bottom: 45%;
  left: 3%;
}

.purple-text {
  font-weight: bolder;
  color: #a239ca;
}

.use-profilera-text-div {
  font-size: 2.2vw;
  position: absolute;
  color: #e7dfdd;
  text-align: left;
  z-index: 1;
  bottom: 20%;
  left: 3%;
  width: 60%;
  text-shadow: 0 0 1px transparent;
}

.yellow-text {
  font-weight: bolder;
  color: #feb728;
}

.first-CTAbtn {
  position: absolute;
  z-index: 1;
  left: 3%;
  bottom: 15%;
}

.use-case-text-div {
  position: absolute;
  right: 1em;
  padding-top: 70%;
  color: #e7dfdd;
  width: 45%;
  text-align: center;
  z-index: 1;
}

.use-case-text-how-div {
  padding-top: 100%;
  color: #e7dfdd;
  width: 45%;
  text-align: left;
  z-index: 1;
}

.CTA-div {
  margin: auto;
  font-size: 3.7vw;
  padding-bottom: 2em;
  padding-top: 60%;
  width: 95%;
  color: #e7dfdd;
  text-align: center;
  z-index: 1;
}

.meet-the-team-slide-div {
  margin: auto;
  text-align: center;
  display: inline-block;
  padding-left: 8%;
  width: 20vw;
  z-index: 1;
}

.meet-the-team-text-div {
  text-align: left;
  color: #e7dfdd;
  padding-top: 30%;
  padding-left: 2%;
  display: inline-block;
  width: 30%;
  z-index: 1;
}

.meet-the-team-div {
  width: 100%;
  z-index: 1;
}

.meet-the-team-text-div h2 {
  font-size: 3.7vw;
}

.meet-the-team-text-div h3 {
  font-size: 3vw;
}

.each-slide {
  width: 100%;
  height: 100%;
  z-index: 1;
}

.each-slide > div {
  border-radius: 25px;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 30vw;
  width: 20vw;
}

.each-slide h2 {
  color: #e7dfdd;
  font-size: 2vw;
  text-shadow: 0 0 1px transparent;
}

.info-text-p {
  color: #e7dfdd;
  font-size: 2vw;
  text-shadow: 0 0 1px transparent;
}

.cookie-consent-privacy {
  color: #e7dfdd;
  text-decoration: underline;
  border: none;
  background-repeat: no-repeat;
  background-color: transparent;
  font-weight: 500;
  font-size: 0.9375rem;
  letter-spacing: 0.02857em;
}

.cookie-consent-privacy:hover {
  cursor: pointer;
  color: white;
}

.cookie-consent-text {
  color: #e7dfdd;
  font-weight: 500;
  font-size: 0.9375rem;
  letter-spacing: 0.02857em;
}
