#video {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
  }
  
  .attention-grabbing-title-div {
    position:absolute;
    left:1em;
    padding-top:30em;
    color: #E7DFDD;
    text-align: left;
    z-index: 1;
  }
  
  .use-profilera-text-div {
    margin-left: 1em;
    padding-top: 34em;
    width:20%;
    color:#E7DFDD;
    text-align: left;
    z-index: 1;
  }

  .use-case-text-div{
    position:absolute;
    right:1em;
    padding-top:50em;
    color: #E7DFDD;
    width:45%;
    text-align:center;
    z-index: 1;
  }

  .CTA-div{
    margin: auto;
    padding-bottom: 2em;
    padding-top:120em;
    width:35%;
    color: #E7DFDD;
    text-align: center;
    z-index: 1;
  }

  .meet-the-team-div{
    margin:auto;
    text-align: center;
    padding-top: 70em;
    width:50em;
    z-index: 1;
  }
  .each-slide{
    width:100%;
    height:100%;
    z-index: 1;
  }

  .each-slide > div {
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 50em;
    width:50em;
  }

  .each-slide span {
    
    font-size:xx-large;
    color: black;
    text-align: center;
  }