#video {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
  }
  
  h1 {
    position: absolute;
    top: 3em;
    left: 1em;
    color: white;
    text-align: center;
    z-index: 1;
  }
  
  h2 {
    position: absolute;
    top: 7em;
    left: 1em;
    width:20%;
    color: white;
    text-align: center;
    z-index: 1;
  }